<h1>Show Product</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @product.name %>
  </li>

  <li>
    <strong>Category:</strong>
    <%= @product.category %>
  </li>

  <li>
    <strong>Price:</strong>
    $ <%= @product.price %>
  </li>

  <li>
    <strong>Discount:</strong>
    <%= @product.discount %>%
  </li>
</ul>

<span><%= link "Edit", to: Routes.product_path(@conn, :edit, @product) %></span>
<span><%= link "Back", to: Routes.product_path(@conn, :index) %></span>
